body {
    height: 1000px;
    margin: 0;
    font-family: "Osaka";
}

.header {
    height: 80px;
    width: 100%;
    background-color: #ff9696;

    h1 {
        margin: 0;
        padding: 21px 0 0 40px;
        color: white;
        font-size: 28px;
    }
}

.main {
    width: 643px;
    margin: 0 auto;

    .form-title {
        display: inline-block;
        margin: 57px 233px 0;
        text-align: center;
        font-size: 44px;
        font-weight: normal;
    }

    .thankyou{
        margin: 60px 0 0;
        height: 244px;
        width: 643px;
        box-sizing: border-box;
        text-align: center;
        line-height: 240px;
        border: 1px solid #707070;
    }

    

    .btn {
        margin: 60px 61.5px 0;
        width: 500px;
        height: 50px;
        background-color: #ff9696;
        border: none;
        color: white;
        font-size: 18px;
    }
}
