body {
    height: 1000px;
    margin: 0;
    font-family: "Osaka";
}

.header {
    height: 80px;
    width: 100%;
    background-color: #ff9696;

    h1 {
        margin: 0;
        padding: 21px 0 0 40px;
        color: white;
        font-size: 28px;
    }
}

.main {
    width: 500px;
    margin: 0 auto;

    h2 {
        display: inline-block;
        margin: 57px 118px 0;
        text-align: center;
        font-size: 44px;
        font-weight: normal;
    }

    .form-wrapper {
        margin-top: 60px;

        .form-content {
            margin-top: 39px;

            .form-row {
                display: flex;
                margin: 0 0 20px 0;
            }

            input {
                margin-top: 12px;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #BABABA;
            }

            .form-item{
                margin: 0 10px 0 0;
            }

            .attention {
                background-color: #ff9696;
                color: white;
                width: 54px;
                height: 25px;
                text-align: center;
            }

            .random {
                background-color: #96dbff;
                color: white;
                width: 54px;
                height: 25px;
                text-align: center;
            }

            .personal{
                padding: 0 0 20px;
                border-bottom: solid 1px #707070;
            }

            textarea {
                margin-top: 12px;
                width: 100%;
                height: 150px;
                border-radius: 5px;
                border: 1px solid #BABABA;
            }

            .form-item {
                font-size: 18px;
                line-height: 24px;
                font-weight: normal;
            }
        }
    }

    .btn {
        margin: 60px 0 0;
        width: 100%;
        height: 50px;
        background-color: #ff9696;
        border: none;
        color: white;
        font-size: 18px;
    }
}
